---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
  <h2>which means that I can do anything!</h2>      
  <p>I am going to post about my journy learning Astro.</p>
  <ul>
    <li><a href="/posts/post-1/">Post 1</li>
    <li><a href="/posts/post-2/">Post 2</li>
    <li><a href="/posts/post-3/">Post 3</li>
  </ul>
</BaseLayout>

